<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Универсальный заказ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Главная<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Products/List">Продукты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Products/List/DodoPizza">Додо Пицца</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Products/List/Sushiwok">Сушивок</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Products/List/Subway">Subway</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="FoodDeliveryCart" asp-action="Index">Корзина</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        @RenderBody()
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">©Универальсальный заказ 2020</span>
        </div>
    </footer>

    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
